################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Sky.Core/bin
/src/Sky.Core/obj/Debug
/src/Sky.Core/obj/Release
/src/Sky.Infrastructure/bin
/src/Sky.Infrastructure/obj
/src/Sky.Infrastructure.Billing/bin
/src/Sky.Infrastructure.Billing/obj
/src/Sky.Models/bin
/src/Sky.Models/obj
/src/Sky.Web.UI/bin
/src/Sky.Web.UI/obj
/test/Sky.Infrastructure.Billing.Tests/bin/Debug
/test/Sky.Infrastructure.Billing.Tests/obj
/test/Sky.Model.Tests/bin/Debug
/test/Sky.Model.Tests/obj
/src/Sky.Web.UI/App/Account/Billing/Controllers/OverviewController.js.map
/src/Sky.Web.UI/App/Account/Billing/Controllers/OverviewController.js
/src/Sky.Web.UI/App/Account/Billing/Directives/OverviewChart.js.map
/src/Sky.Web.UI/App/Account/Billing/Directives/OverviewChart.js
/src/Sky.Web.UI/App/Account/Billing/App.js.map
/src/Sky.Web.UI/App/Account/Billing/App.js
/src/Sky.Web.UI/Properties/PublishProfiles
*.user
*.suo
/.vs/config
/packages
