body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.chart .chart-title small {
    margin-top: 5px;
    display: block;
}

.chart-content {
    height: 230px;
}

.bill-overview {
    min-height: 270px !important;
}

.bill-overview dl {
    margin-bottom: 0;
}

.bill-overview dt {
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 10px;
}

.bill-overview dd {
    font-size: 2em;
}

.bill-overview dt.important,
.bill-overview dd.important {
    color: #fff !important;
}

.bill-overview .bill-section-content dl {
    float: left;
    margin-right: 50px;
}

.bill-overview .bill-section-sidebar {
    background: #242a30 !important;
    color: lightgray !important;
    padding: 20px 95px 0 95px !important;
}

.bill-section table th:last-child,
.bill-section table.bill-section-costings td:last-child {
    width: 100px;
}

.bill-section {
    position: relative;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: 1px solid #ddd;
    min-height: 320px;
}

.bill-section .bill-section-content {
    padding: 15px;
    margin-right: 300px;
}

.bill-section .bill-section-title {
    margin-top: 0;
}

.bill-section .bill-section-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f5f5f5;
    width: 300px;
    padding: 20px 10px;
}