@{
    ViewBag.Title = "Billing";
}

<article ng-controller="App.Account.Billing.Controllers.OverviewController">
    <section class="well bill-section bill-overview">
        <div class="bill-section-content">
            <dl>
                <dt>Bill date</dt>
                <dd ng-bind="bill.Statement.Generated | date:'dd MMM yyyy'"></dd>
            </dl>
            <dl>
                <dt>Period</dt>
                <dd ng-bind-template="{{bill.Statement.Period.From | date:'dd MMM'}} - {{bill.Statement.Period.To | date:'dd MMM'}}"></dd>
            </dl>
            <dl>
                <dt>Payment due date</dt>
                <dd ng-bind="bill.Statement.Due | date:'dd MMM'"></dd>
            </dl>
        </div>
        <aside class="bill-section-sidebar">
            <dl>
                <dt>Sub total</dt>
                <dd ng-bind="bill.Costings.SubTotal"></dd>
                <dt>Adjustment</dt>
                <dd ng-bind="bill.Costings.Adjustment"></dd>
                <dt class="important">Amount Due</dt>
                <dd class="important" ng-bind="bill.Costings.Total"></dd>
            </dl>
        </aside>
    </section>

    <section class="bill-section" ng-repeat="section in billSections">
        <div class="bill-section-content">
            <h2 class="bill-section-title">{{section.name}}</h2>
            <div ng-include="section.template"></div>
            <table class="table bill-section-costings">
                <tbody>
                    <tr ng-show="section.costings.Adjustment > 0">
                        <th>Sub total</th>
                        <td>{{section.costings.SubTotal | costFilter}}</td>
                    </tr>
                    <tr ng-show="section.costings.Adjustment > 0">
                        <th>Adjustment</th>
                        <td>{{section.costings.Adjustment | costFilter}}</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>{{section.costings.Total | costFilter}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <aside class="bill-section-sidebar">
            <div chart="chartConfig" ng-repeat="chartConfig in section.charts" class="chart"></div>
        </aside>
    </section>
</article>

@section styles {
    @Styles.Render("~/bundles/account/billing/css")
}

@section scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/account/billing/js")

    <script id="subscriptionsTemplate" type="text/ng-template">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="charge in section.chargesGroups[0].charges">
                    <td>{{charge.Name}}</td>
                    <td>{{charge.Cost | costFilter}}</td>
                </tr>
            </tbody>
        </table>
    </script>

    <script id="callChargesTemplate" type="text/ng-template">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="charge in section.chargesGroups[0].charges">
                    <td>{{charge.Called}}</td>
                    <td>{{charge.Duration}}</td>
                    <td>{{charge.Cost | costFilter}}</td>
                </tr>
            </tbody>
        </table>
    </script>

    <script id="skyStoreTemplate" type="text/ng-template">
        <section ng-repeat="group in section.chargesGroups">
            <h3>{{group.name}}</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="charge in group.charges">
                        <td>{{charge.Title}}</td>
                        <td>{{charge.Cost | costFilter}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </script>
}

