@{
    ViewBag.Title = "Billing";
}

<article ng-controller="App.Account.Billing.Controllers.OverviewController">
    <section class="well bill-overview">
        <dl>
            <dt>Bill date</dt>
            <dd>{{breakdown.Statement.Generated | date:"dd MMM yyyy"}}</dd>
            <dt>Period</dt>
            <dd>{{breakdown.Statement.Period.From | date:"dd MMM"}} - {{breakdown.Statement.Period.To | date:"dd MMM"}}</dd>
            <dt>Payment due date</dt>
            <dd>{{breakdown.Statement.Due | date:"dd MMM"}}</dd>
        </dl>
        <dl>
            <dt>Sub total</dt>
            <dd>{{breakdown.Costings.SubTotal}}</dd>
            <dt>Adjustment</dt>
            <dd>{{breakdown.Costings.Adjustment}}</dd>
            <dt>Amount Due</dt>
            <dd>{{breakdown.Costings.Total}}</dd>
        </dl>
        <div class="clearfix"></div>
    </section>

    <section class="bill-section" ng-repeat="section in billSections">
        <div class="bill-section-content">
            <h2 class="bill-section-title">{{section.name}}</h2>
            <div ng-include src="section.template"></div>
            <table class="table bill-section-costings">
                <tbody>
                    <tr ng-show="section.costings.Adjustment > 0">
                        <th>Sub total</th>
                        <td>{{section.costings.SubTotal | costFilter}}</td>
                    </tr>
                    <tr ng-show="section.costings.Adjustment > 0">
                        <th>Adjustment</th>
                        <td>{{section.costings.Adjustment | costFilter}}</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>{{section.costings.Total | costFilter}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <aside class="bill-section-sidebar">
            <div overview-chart="chart" ng-repeat="chart in section.charts" class="chart"></div>
        </aside>
    </section>
</article>

@section styles {
    @Styles.Render("~/bundles/account/billing/css")
}

@section scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/account/billing/js")

    <script id="subscriptionsTemplate" type="text/ng-template">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="charge in section.chargesGroups[0].charges">
                    <td>{{charge.Name}}</td>
                    <td>{{charge.Cost | costFilter}}</td>
                </tr>
            </tbody>
        </table>
    </script>

    <script id="callChargesTemplate" type="text/ng-template">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="charge in section.chargesGroups[0].charges">
                    <td>{{charge.Called}}</td>
                    <td>{{charge.Duration}}</td>
                    <td>{{charge.Cost | costFilter}}</td>
                </tr>
            </tbody>
        </table>
    </script>

    <script id="skyStoreTemplate" type="text/ng-template">
        <section ng-repeat="group in section.chargesGroups">
            <h3>{{group.name}}</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="charge in group.charges">
                        <td>{{charge.Title}}</td>
                        <td>{{charge.Cost | costFilter}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </script>
}

